<h3>Création d'une nouvelle branche</h3>
<div id="zonetravail">
  <form action="admin-branches.php?action=ajouter" method="POST">
  <b>Nom : <input type="text" name="nom" maxlength="50"> Description :</b> <input type="text" name="description" size="30"><br>
  <b>Administrateur  :</b>
  <select name="admin">
    <!-- BEGIN users -->
    <option value="{u_id}">{u_nom} {u_prenom}</option>
    <!-- END users -->
  </select>
  <br>
  <input type="image" src="templates/images/valide.gif">
  </form>
</div>

<h3>Gestions des branches</h3>
<div id="zonetravail">
  <ul>
    <!-- BEGIN branches -->
    <li><a href="admin-branches-edit.php?id={b_id}">{b_nom}</a> (<a href="admin-branches.php?id={b_id}&action=supprimer" onClick="choix=confirm('Etes vous sur de vouloir supprimer cette branche ?'); if(choix==false){return false;}">supprimer</a>)</li>
    <!-- END branches -->
  </ul>
</div>
