<h4>Gestion des champs personnalisés</h4>
  <form action="gestion-droits.php" method="POST">
    
    <table>
      <tr>
        <th nowrap></th>
        <th>Nom</th>
	<th>Type</th>
	<th>Valeurs</th>
	<th>Valeur par défaut</th>
      </tr>
      
      <tr>
        <td><b>Champs 1</b></td>
        <td><input type="text" name="proprio1_nom" value="{proprio1_nom}"></td>
	<td><select name="proprio1_type"><option value="">Liste de choix</option><option value="">Choix multiple</option><option value="">Liaison inter table</option><option value="">Champs texte</option></select></td>
	<td><input type="text" name="proprio1_valeur" value="{proprio1_valeur}"></td>
	<td><input type="text" name="proprio1_defaut" value="{proprio1_defaut}"></td>
      </tr>
      
      <tr>
        <td><b>Champs 2</b></td>
        <td><input type="text" name="proprio2_nom" value="{proprio2_nom}"></td>
        <td><select name="proprio2_type"><option value="">Liste de choix</option><option value="">Choix multiple</option><option value="">Liaison inter table</option><option value="">Champs texte</option></select></td>
        <td><input type="text" name="proprio2_valeur" value="{proprio2_valeur}"></td>
        <td><input type="text" name="proprio2_defaut" value="{proprio2_defaut}"></td>
      </tr>

      <tr>
        <td><b>Champs 3</b></td>
        <td><input type="text" name="proprio3_nom" value="{proprio3_nom}"></td>
	<td><select name="proprio3_type"><option value="">Liste de choix</option><option value="">Choix multiple</option><option value="">Liaison inter table</option><option value="">Champs texte</option></select></td>
	<td><input type="text" name="proprio3_valeur" value="{proprio3_valeur}"></td>
	<td><input type="text" name="proprio3_defaut" value="{proprio3_defaut}"></td>
      </tr>

      <tr>
        <td><b>Champs 4</b></td>
        <td><input type="text" name="proprio1_nom" value="{proprio1_nom}"></td>
        <td><select name="proprio1_type"><option value="">Liste de choix</option><option value="">Choix multiple</option><option value="">Liaison inter table</option><option value="">Champs texte</option></select></td>
        <td><input type="text" name="proprio1_valeur" value="{proprio1_valeur}"></td>
        <td><input type="text" name="proprio1_defaut" value="{proprio1_defaut}"></td>
      </tr>
    </table>
  
    <input type="submut" value="Modifier" class="fxbutton">
  </form>
