<h1>Aide</h1>

<a href="#top"></a>
<ul>
  <li><a href="#categories">Les catégories</a></li>
  <li><a href="#entites">Les entités</a></li>
  <li><a href="#personnes">Les personnes</a></li>
  <li><a href="#droits">Gestion des droits</a></li>
  <li><a href="#champsspeciaux">Les champs spéciaux</a></li>
  <li><a href="#extractions">Les extractions</a></li>
  <li><a href="#groupes">Les groupes</a></li>
  <li><a href="#recherche">La recherche</a></li>
  <li><a href="#bug">Signaler un bug</a></li>
</ul>
<br><br><br><br>

<a name="categories"></a>
<h4>Les catégories</h4>
<p>
Les catégories sont semblabes aux dossiers de l'explorateur Windows. Elles servent à hierarchiser et mettre sous forme d'une arborescence les <a href="#entites">entités</a> qui constitues ce Méta-Annuaire.La constitution de l'arborescence est illimitée.<br><br>
Il est possible de créer, de modifier ou de supprimer celles-ci en fonction des <a href="#droit">droits</a> qui vous sont attribués.
Lorsque vous vous situez sur la page ou s'affiche l'arborescence, il est possible de voir une petite icone à coté du nom de cette catégorie. En cliquant dessus et toujours selon vos droits, vous aurez accès à un menu. Ce menu permet d'ajouter, de modifier et de supprimer des catégories. Il permet également de faire d'autres choses décrites dans cette aide.
</p>

<a name="entites"></a>
<h4>Les entités</h4>
<p>
Les entités sont en fait, les entreprises, les associations, les administation, etc. Celles-ci se trouvent dans les <a href="#categories">catégories</a>. S'il on reprend la shématique expliquée plus haut : si les catégories s'apparente à des "dossiers", les entités sont alors les "fichiers".<br>
Pour en créer une, cliquez sur l'icone d'une catégorie pour faire apparaitre le menu. Puis "ajouter une entité".
Ensuite, pour modifier ou supprimer l'une d'elle, vous devez d'abord vous rentre jusqu'a son niveau, puis cliquez sur l'icone à coté du nom de l'entité souhaitée. Un menu apparait.<br>
<br>
Dans certains cas, une société peut avoir plusieurs succursales, ou une association peut avoir plusieurs bureaux dans plusieurs régions. Il a donc été intégré le fait de pouvoir créer des sous-entités, et ceux de manière illimité. Pour se faire, cliquez sur l'icone en fasse du nom de l'entité parente, puis "créer une sous-entité".
</p>