  <div id="g_arbo">
    <table cellspacing="0" cellpadding="0">
      <!-- BEGIN arbre -->
      <tr>
        <td valign="bottom" nowrap>{espace} <a href="javascript:void(0);" onclick="overlib('{menu}', STICKY, CAPTION, 'Menu',TEXTSIZE, '10px', CLOSETEXT, 'Fermer', WRAP)"  onmouseout="return nd();">{icone}</a> {nom}</td>
      </tr>
      <!-- END arbre -->
    </table>
  </div>

  <div id="onglets">
    {onglets}

    <div id="c_entitee" style="">
      {contenu}
    </div>

    <div id="c_personnes" style="">
      <table width="100%">
        <tr>
          <th nowrap></th>
          <th>Nom</th>
          <th>Mail</th>
	  <th>Téléphone</th>
          <th>Mobile</th>
          <th>Fonction</th>
        </tr>
        <!-- BEGIN personnes -->
        <tr>
          <td width="15"><img src="templates/images/user.png" alt="fiche"></td>
          <td align="center">{p_nom}</td>
	  <td align="center"><a href="mailto:{p_mail}">{p_mail}</a></td>
	  <td align="center">{p_tel}</td>
	  <td align="center">{p_mobile}</td>
	  <td>{p_fonction}</td>
        </tr>
        <!-- END personnes -->
      </table>
    </div>
  </div>
