<script type="text/javascript" src="templates/overlib/overlib.js"><!-- overLIB (c) Erik Bosrup --></script>
<h2>Gestion des catégories</h2>
<div id="zonetravail">
<form method="POST" action="gestion-categories.php?action=ajouter">
  <b>Nom :</b> <input type="text" name="nom">&nbsp;&nbsp;
  <b>Parent :</b> 
    <select name="parent">
      <option value="0">Racine</option>
      <!-- BEGIN parents -->
      <option value="{c_id}">{c_nom}</option>
      <!-- END parents -->
    </select><br>
  <b>Description : </b> <input type="text" name="description" size="40"><br>
  <input type="images" src="templates/images/valide.gif">
</form>
</div>
<br>

<h2>Catégories</h2>
  <table>
    <tr>
      <th width="450" align="left">Racine</th>
      <th>Actions</th>
    </tr>
    <!-- BEGIN categories -->
    <tr>
      <td valign="middle">{espace} <img src="templates/images/folder.png" alt="dossier"> <b>{c_nom}</b> <a href="javascript:void(0);" onmouseover="return overlib('{c_description}');" onmouseout="return nd();"><small>[infos]</small></a></td>
      <td valign="middle"><a href="gestion-categories-edit.php?id={c_id}">Editer</a> / <a href="?id={c_id}&action=supprimer" onClick="choix=confirm('Etes vous sur de vouloir supprimer cette catégorie ?\nAttention, tout ce qu'elle contient sera supprimé, meme les fiches !'); if(choix==false){return false;}">Supprimer</a></td>
    </tr>
    <!-- END categories -->
  </table>
