<html>
  <head>
    <title>Meta annuaire des Haras Nationnaux</title>
    <link rel="stylesheet" type="text/css" href="templates/style.css">
    <script type="text/javascript" src="templates/overlib/overlib.js"><!-- overLIB (c) Erik Bosrup --></script>
  </head>
  <body>
    <div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>
    <div id="bandeau">
      <div id="menugris">
	<a href="index.php">Accueil</a>
	&nbsp;|&nbsp;
	Recherche rapide :&nbsp;<input type="text">
	&nbsp;|&nbsp;
	<b>Vous etes :</b> {login}
	&nbsp;|&nbsp;
	<a href="index-admin.php">Admin</a>
      </div>
      <div id="menu">
       <a href="consulter.php">Consulter</a> | <a href="rechercher.php">Rechercher Avancé</a>
       &nbsp;|&nbsp;
       <a href="login.php">{connect}</a> 
      </div>
    </div>

