<html>
  <head>
    <title>Meta annuaire des Haras Nationnaux</title>
    <link rel="stylesheet" type="text/css" href="templates/style.css">
    <script type="text/javascript" src="templates/overlib/overlib.js"><!-- overLIB (c) Erik Bosrup --></script>
    <script language="javascript">
        function ShowTab (string) 
	{
                if(string == "entite") 
		{
                        document.getElementById("c_entite").style.display="block";
                        document.getElementById("c_personnes").style.display="none";
                        document.getElementById("li_entite").className="active";
                        document.getElementById("li_personnes").className="";
                } 

		if(string == "personnes") 
		{
                        document.getElementById("c_entite").style.display="none";
                        document.getElementById("c_personnes").style.display="block";
			document.getElementById("li_entite").className="";
                        document.getElementById("li_personnes").className="active";
                } 
        }
  </script>
  </head>
  <body>
    <div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>
    <div id="bandeau">
      <div id="menugris">
	<a href="index.php">Accueil</a>
	&nbsp;|&nbsp;
	Recherche rapide :&nbsp;<form action="resultats.php" method="post"><input type="text" name="entree" ></form>
	&nbsp;|&nbsp;
  <b>Vous êtes :</b> <i>{login}</i>
	&nbsp;|&nbsp;
        <a href="aide.php">Aide</a>
        &nbsp;|&nbsp;
        {menu_admin}
      </div>
      <div id="menu">
       <a href="consulter.php">Consulter</a> | <a href="rechercher.php">Recherche Avancée</a>
       &nbsp;|&nbsp;
       <a href="login.php">{connect}</a> 
      </div>
    </div>

