<center>
  <table width="800">
    <tr>
      <th width="200">Actions</th>
      <th width="600">Explications</th>
    </tr>
    <tr>
      <td><a href="admin-groupes.php">Administration des groupes</a></td>
      <td>Vous permez de créer, de supprimer et d'affecter telle ou telle personne dans un groupe. Chaque personne peut etre dans plusieurs groupes.</td>
    </tr>
    <tr>
      <td><a href="admin-branches.php">Administration des branches</a></td>
      <td>Vous permez de créer, supprimer et renomer des branches. C'est par ici que vous affectez une personne responsable d'une branche. Une branche est comme un "sous-annuaire".</td>
    </tr>
    <tr>
      <td><a href="admin-champs.php">Administrer les champs spéciaux</a></td>
      <td>Vous pouvez ici gérer les champs spéciaux spécifique à votre branche.</td>
    </tr>
    <tr>
      <td><a href="index-gestion.php">Accès gestion d'une branche</a></td>
      <td>En tant qu'admin, vous pouvez également avoir accès à la gestion d'une branche. ATTENTION, vous devez avoir sélectionnez une branche !</td>
    </tr>
  </table>
</center>

