<center>
  <table width="800">
    <tr>
      <th width="200">Actions</th>
      <th width="600">Explications</th>
    </tr>
    <tr>
      <td><a href="gestion.php">Général</a></td>
      <td>Permer de renomer la branche et de changer sa description</td>
    </tr>
    <tr>
      <td><a href="gestion-categories.php">Administrer les catégories</a></td>
      <td>Les catégories représentent l'arborescence de la branche. Il faut les imaginer comme des dossiers windows. Vous pouvez ici les créer, les supprimer et les renomer. <br>C'est aussi ici que vous gerez les droits. Vous pouvez donner droit de lecture et ajout aux groupes en fonction de la catégorie.</td>
    </tr>
  </table>
</center>
