
<div id="onglets_rech">
  
  <ul id="tabnav">
    <li id="li_entite" class="active"><a href="#" onclick="javascript:ShowTab('entite');">Entit&eacute;s</a></li>
    <li id="li_personnes" class=""><a href="#" onclick="javascript:ShowTab('personnes');">Personnes</a></li>
  </ul><br>

<div id="c_entite" style="">
  <form action="resultats.php?type=avancee&recherche=entites" method="POST">
  <table>
    <thead>
      <TH width="30%">Champs</TH>
      <TH width="50%">Crit&egrave;res</TH>
    </thead>
    {formulaire_entites}
  </table>
  <input type="image" src="templates/images/valide.gif">
  </form>
</div>

<div id="c_personnes" style="">
  <form action="resultats.php?type=avancee&recherche=personnes" method="POST">
  <table>
    <thead>
      <TH width="30%">Champs</TH>
      <TH width="50%">Crit&egrave;res</TH>
    </thead>
    {formulaire_personnes}
  </table>
  <input type="image" src="templates/images/valide.gif">
  </form>
</div>

</div>
