
<div id="onglets_rech">
  
  <ul id="tabnav">
    <li id="li_entitee" class="active"><a href="#" onclick="javascript:ShowTab('entitee');">Entit&eacute;e</a></li>
    <li id="li_personnes" class=""><a href="#" onclick="javascript:ShowTab('personnes');">Personnes</a></li>
  </ul><br>

<div id="c_entitee" style="">
  <form action="resultats.php?type=avancee&recherche=entitees" method="POST">
  <table>
    <thead>
      <TH width="30%">Champ</TH>
      <TH width="50%">Crit&egrave;re</TH>
    </thead>
    {formulaire_entitees}
  </table>
  <input type="image" src="templates/images/valide.gif">
  </form>
</div>

<div id="c_personnes" style="">
  <form action="resultats.php?type=avancee&recherche=personnes" method="POST">
  <table>
    <thead>
      <TH width="30%">Champ</TH>
      <TH width="50%">Crit&egrave;re</TH>
    </thead>
    {formulaire_personnes}
  </table>
  <input type="image" src="templates/images/valide.gif">
  </form>
</div>

</div>
