
select {font-size:10px;scrollbar-base-color:#330066 ;scrollbar-arrow-color:#FFFFFF;
scrollbar-Track-Color:#6C30AC}

body {
	scrollbar-base-color:#330066 ;scrollbar-arrow-color:#FFFFFF;
scrollbar-Track-Color:#6C30AC}
